@import "variables";
@import "mixins";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import "Glyphter";

@import "normalize";
@import "layout";

/* Components */
@import "components/form_field";
@import "components/buttons";
@import "components/text-link";
@import "components/grid";
@import "components/page";
@import "components/table";
@import "components/pagination";
@import "components/big_data_table";
@import "components/modal";

/* Sections */
@import "sections/top_bar";
@import "sections/sidebar";
@import "sections/registration_form";

/* Pages / Views */
@import "pages/registration";
@import "pages/general";
@import "pages/banners";
@import "pages/personal_data";
@import "pages/payout";
@import "pages/quit_modal";
@import "pages/login_modal";

body {
    font-family: $brand-font;
    margin: 0;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }