.table-container {
    max-width: 1021px;
    padding-top: 31px;
    padding-right: 18px;
    padding-bottom: 21px;
    padding-left: 18px;
    margin-left: auto;
    margin-right: auto;
}

.scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    table {
        width: 100%;
        max-width: 100%;
    }
}

.bordered-table {
    font-size: 13px;
    color: rgb(51, 51, 51);
    font-weight: 300;
    text-align: left;
    border-collapse: collapse;
    white-space: nowrap;
    tr {
        &:hover {
            &:not(:first-of-type) {
                background-color: #f0f3f3;
            }
        }
    }
    th {
        color: rgb(166, 166, 166);
        font-weight: bold;
        padding: 13px 8px;
        div {
            display: inline-block;
            padding: 10px;
            i {
                display: none;
            }
        }
        &:hover {
            cursor: pointer;
            div {
                border-radius: 3px;
                background-color: #f5f5f1;
                color: #333333;
            }
        }
        &:active {
            @extend .sorted;
        }
    }
    th,
    td {
        border-bottom: {
            width: 1px;
            style: solid;
            color: #e3e3e3;
        }
    }
    td {
        padding: 23px 18px;
    }
}

.sorted {
    .icon-arrow-up-small,
    .icon-arrow-down-small {
        display: inline-block;
        color: #a3a3a3;
        font-size: 9px;
        margin-top: 0px;
        padding-left: 14px;
    }
}