.btn{
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    border-width: 0px;
    background-color: $brand-color;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    &:hover{
        background-color: $brand-color-hover;
        color: #fff;
    }
}

.btn-small{
    @extend .btn;
    font-size: 16px;
    padding: 0;
    width: 41px;
    text-align: center;
}

.btn-grey{
    background-color: $brand-color-grey;
    &:hover{
        background-color: $brand-color-grey-hover;
        color: #fff;
    }
}

.btn-disabled{
    background-color: $brand-color-disabled;
    &:hover{
        background-color: $brand-color-disabled;
        color: #fff;
    }
}