.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    @extend .link-l;
    i {
        color: #a3a3a3;
    }
    a {
        display: inline-block;
        width: 41px;
        height: 40px;
        text-align: center;
        &:hover {
            font-size: 16px;
            color: #a6a6a6;
            font-weight: bold;
            border-radius: 3px;
            background-color: #f1f3f3;
            i {
                color: #333333;
                margin-top: 0;
            }
        }
    }
}