.page-header {
    font-size: 16px;
    line-height: 42px;
    color: #a6a6a6;
    text-transform: uppercase;
}

.section-header {
    @extend .page-header;
    font-weight: bold;
    text-transform: none;
}

p,
.text {
    font-size: 14px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
}

a,
.link-s {
    font-size: 13px;
    line-height: 42px;
    color: #56819f;
    font-weight: 300;
    text-decoration: none;
    &:hover{
        color: #ffa200;
    }
}

.link-l{
    @extend .link-s;
    font-size: 16px;
}