.page-header {
    font-size: 16px;
    line-height: 42px;
    color: #a6a6a6;
    text-transform: uppercase;
    margin:0;
}

.section-header {
    @extend .page-header;
    font-weight: bold;
    text-transform: none;
}

.line-header {
    @extend .section-header;
}

p,
.text {
    font-size: 14px;
    line-height: 42px;
    color: #333333;
    font-weight: 300;
    margin: 0;
}

a,
.link {
    font-size: inherit;
    line-height: 42px;
    color: #56819f;
    font-weight: 300;
    text-decoration: none;
    &:hover {
        color: #ffa200;
    }
}

.link-s {
    @extend .link;
    font-size: 13px;
}

.link-l {
    @extend .link;
    font-size: 16px;
}
