#chat-modal {
    max-width: 1076px;
    width: 1076px;
    div.page-header {
        position: relative;
        h6 {
            padding: 20px 18px 15px 18px;
            @media (max-width:767px){
                padding: 0 18px 15px 18px;
            }
        }
        span{
            display: block;
            position: absolute;
            top: 0%;
            right: 0%;
            padding: 18px;
            line-height: normal;
            &:hover{
                color: #333333;
                cursor: pointer;
            }
            @media (max-width:767px){
                position: relative;
                text-align: right;
                padding: 10px 18px;
            }
        }
    }
    .personal-manager {
        display: flex;
        justify-content: flex-start;
        border-bottom: {
            width: 1px;
            style: solid;
            color: #e3e3e3;
        }
        img {
            width: 70px;
            height: 70px;
            margin: 10px 18px;
            float: left;
        }
        .name-and-status {
            padding: 19px 0;
        }
        p {
            font-size: 30px;
            font-weight: 500;
            line-height: normal;
            color: #191919;
        }
        .status {
            text-align: center;
            font-size: 12px;
            line-height: 20px;
            width: 44px;
            height: 20px;
            border-radius: 3px;
            background-color: #03ad00;
            color: #fff;
            font-weight: 300;
            margin-top: 9px;
        }
    }
    .chat {
        padding: 14px 18px;
        height: 316px;
        border-bottom: {
            width: 1px;
            style: solid;
            color: #e3e3e3;
        }
        .answer {
            position: relative;
            p {
                display: inline-block;
                color: #191919;
                border-radius: 0 3px 3px 3px;
                background-color: #f3f3f1;
                line-height: normal;
                padding: 12px 14px;
                margin-bottom: 20px;
                &::after {
                    content: "";
                    position: absolute;
                    top: -8px;
                    left: 0%;
                    border-width: 4px;
                    border-style: solid;
                    border-color: transparent transparent #f3f3f1 #f3f3f1;
                }
            }
        }
        .message {
            position: relative;
            display: inline-block;
            p {
                display: inline-block;
                color: #191919;
                border-radius: 3px 3px 0 3px;
                background-color: #b9b9b9;
                line-height: normal;
                padding: 12px 14px;
                margin-bottom: 20px;
                &::after {
                    content: "";
                    position: absolute;
                    right: 0%;
                    bottom: 12px;
                    border-width: 4px;
                    border-style: solid;
                    border-color: #b9b9b9 #b9b9b9 transparent transparent;
                }
            }
        }
    }
    form {
        display: flex;
        input {
            flex-grow: 9;
            padding-left: 45px;
            outline-style: none;
            border-radius: 3px;
            color: #9b9b9b;
            border: 1px solid #e3e3e3;
            &[type=text] {
                background-image: url(../images/message.png);
                background-position: 12px;
                background-repeat: no-repeat;
            }
            height:40px;
            margin: 19px 17px;
            font-size: 14px;
            color: #a6a6a6;
            font-weight: 300;
        }
        button {
            align-self: center;
            margin-right: 20px;
        }
    }
}