.section--general {
    padding-left: 188px;
    padding-top: 61px;
    overflow-x: hidden;
    background-color: #f5f5f2;
    @media (max-width: 767px) {
        padding-left: 0;
    }
}

.page-statistic {
    @extend .page;
    .container {
        padding-top: 41px;
        padding-bottom: 55px;
    }
    .date-filter {
        // border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
            margin-left: 16px;
        }
        @media (max-width: 767px) {
            flex-direction: column;
            button {
                margin-top: 10px;
                margin-left: 0;
            }
        }
    }
    .row {
        justify-content: space-between;
    }
    h6 {
        display: inline-block;
    }
    p {
        display: inline-block;
        font-size: 16px;
        line-height: 42px;
        color: #333333;
        text-align: right;
    }
    .table-col-right {
        display: flex;
        justify-content: space-between;
        width: 310px;
        border-bottom: {
            width: 1px;
            style: solid;
            color: #e3e3e3;
        }
        margin-left: 32px;
        @media (max-width: 991px) {
            max-width: calc(100% - 34px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .table-col-left {
        @extend .table-col-right;
        margin-right: 32px;
        margin-left: 0;
        @media (max-width: 991px) {
            max-width: calc(100% - 34px);
            margin-left: auto;
            margin-right: auto;
        }
    }
    .chart {
        padding-top: 76px;
        h4 {
            padding-bottom: 40px;
            @media (max-width: 767px) {
                padding-left: 17px;
            }
        }
        img {
            width: 100%;
            height: auto;
            padding-left: 17px;
            padding-right: 17px;
        }
        @media (max-width: 767px) {
            padding-top: 50px;
        }
    }
}

.page-links {
    @extend .page;
    padding-bottom: 24px;
    button {
        display: block;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }
    .table-row {
        &:first-of-type {
            border-top: 1px solid #e3e3e3;
        }
        border-bottom: 1px solid #e3e3e3;
        .line-header,
        a {
            line-height: 57px;
        }
        .line-header {
            height: 59px;
            padding-left: 17px;
            @media(max-width: 767px) {
                order: 1;
            }
        }
        .link-l {
            height: 59px;
            padding-left: 31px;
            overflow: hidden;
            @media (min-width: 768px) and (max-width: 991px) {
                padding-left: 0;
            }
            @media(max-width: 767px) {
                padding-left: 17px;
                order: 3;
            }
        }
        .selection {
            height: 59px;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            a:nth-of-type(1) {
                padding-right: 23px;
            }
            a:nth-of-type(2) {
                padding-right: 26px;
            }
            .icon-trash {
                color: #9b9b9b;
                &:hover {
                    color: #333333;
                }
            }
            @media (max-width: 991px) {
                visibility: visible;
            }
            @media (max-width:767px) {
                order: 2;
            }
        }
        @media (min-width: 992px) {
            &:hover {
                background-color: #e3e3e3;
                .selection {
                    visibility: visible;
                }
            }
        }
        @media (max-width:991px) {
            &:nth-child(odd) {
                background-color: #e3e3e3;
            }
        }
    }
}