#quit-modal {
    width: 360px;
    height: 155px;
    h6 {
        font-size: 16px;
        color: rgb(166, 166, 166);
        padding-top: 32px;
        padding-right: 23px;
        padding-bottom: 22px;
        padding-left: 23px;
        margin: 0;
        font-weight: 400;
        line-height: normal;
        border-bottom: {
            width: 1px;
            style: solid;
            color: #e3e3e3;
        }
    }
    div{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 19px;
        padding-right:21px;
        padding-bottom: 23px;
        padding-left: 21px;
        .cancel{
            margin-right:20px;
        }
        .quit{
           
        }
    }
}