.section--sidebar {
    height: calc(100% - 61px);
    width: 188px;
    position: fixed;
    top: 61px;
    left: 0;
    @media (min-width: 768px) {
        background-color: #000;
    }
    @media (max-width: 767px) {
        width: 100%;
        display: none;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        &.show {
            display: block; // position: relative;
            // top: 0;
        }
    }
}

.sidebar-menu {
    padding-bottom: 30px;
    background-color: #000;
    border-bottom: {
        width: 1px;
        style: solid;
        color: #333;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            height: 41px;
            a {
                display: inline-block;
                font-size: 14px;
                line-height: 41px;
                color: #818181;
                padding-left: 16px;
                i {
                    padding-right: 16px;
                }
            }
            &:hover {
                a {
                    color: #fff;
                }
                background-color: #272727;
                &::before {
                    content: '';
                    width: 4px;
                    height: 41px;
                    display: inline-block;
                    background-color: $brand-color;
                    position: absolute;
                }
            }
        }
    }
}

.sidebar-manager {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #000;
    h6 {
        letter-spacing: 0px;
        line-height: 42px;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #808080;
        text-transform: uppercase;
    }
    div {
        .manager-photo {
            position: relative;
            width: 43px;
            height: 43px;
            border-radius: 50%;
            margin-right: 10px;
            &::after {
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #04ae00;
                position: absolute;
                left: 75%;
            }
        }
        a {
            display: flex;
            justify-content: flex-start;
            font-size: 14px;
        }
    }
    @media (max-width: 768px) {
        border-bottom: {
            width: 1px;
            style: solid;
            color: #333;
        }
    }
}

.visible-sm {
    .topbar-right {
        background-color: #000;
        border-bottom: {
            width: 1px;
            style: solid;
            color: #333;
        }
        border-top: {
            width: 1px;
            style: solid;
            color: #333;
        }
    }
    .topbar-right>div {
        height: 41px;
        color: #818181;
        border: none;
        p,
        a {
            font-size: 14px;
            line-height: 41px;
            color: #818181;
        }
        i {
            font-size: 14px;
            color: #818181;
        }
        a {
            padding-left: 16px;
        }
        &:last-of-type {
            justify-content: center;
        }
    }
    .wallet {}
    .profile {
        i {
            padding-left: 16px;
        }
    }
    .notifications-and-exit {
        @extend .notifications;
    }
    .exit {}
    @media (min-width:768px) {
        display: none;
    }
}