.section--sidebar {}

.menu {
    @extend .text;
    color: #818181;
    ul {
        list-style: none;
        margin: 0%;
        li {
            &:hover {
                color: #fff;
            }
        }
    }
}