.section--sidebar {
    background: #000;
    height: 100vh;
    width: 188px;
    @media (max-width:767px) {
        width: 100vw;
        height: auto;
        // position: absolute;
        // top:61px;
    }
}

.sidebar-menu {
    padding-bottom: 30px;
    border-bottom: {
        width: 1px;
        style: solid;
        color: #333;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            height: 41px;
            a {
                display: inline-block;
                font-size: 14px;
                line-height: 41px;
                color: #818181;
                padding-left: 16px;
                i {
                    padding-right: 16px;
                }
            }
            &:hover {
                a {
                    color: #fff;
                }
                background-color: #272727;
                &::before {
                    content: '';
                    width: 4px;
                    height: 41px;
                    display: inline-block;
                    background: $brand-color;
                    position: absolute;
                }
            }
        }
    }
}

.sidebar-manager {
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
    h6 {
        letter-spacing: 0px;
        line-height: 42px;
        margin: 0;
        font-size: 14px;
        font-weight: 500;
        color: #808080;
        text-transform: uppercase;
    }
    div {
        display: flex;
        justify-content: flex-start;
        position: relative;
        .manager-photo {
            width: 43px;
            height: 43px;
            border-radius: 50%;
            margin-right:10px;
            &::after{
                content: "";
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #04ae00;
                position: absolute;
                left: 75%;
            }
        }
        a {
            font-size: 14px;
        }
        
    }
}